opencv-python==4.10.0.84
Pillow==10.4.0
reportlab==4.2.2
deepface==0.0.86
tensorflow==2.16.1
tf-keras==2.16.0
numpy==1.26.4
pandas==2.2.2
python-dotenv==1.0.1
flask==3.0.3
# Note: Dependency versions updated to patch known CVEs according to pip-audit.
